<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::script},~{::section})}" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>로그인 페이지</title>
    <script>
        function updateCharacterList() {
            const selectedWorld = document.getElementById("worldSelect").value;
            const characterLists = document.querySelectorAll(".character-list");

            characterLists.forEach(list => {
                if (list.dataset.world === selectedWorld || selectedWorld === "all") {
                    list.style.display = "block";
                } else {
                    list.style.display = "none";
                }
            });

        }

        function setSelectedCharacter(){
            const selectedCharacter = document.querySelector("input[name='selected_char']:checked");
            if (selectedCharacter){
                console.log(`${selectedCharacter.value}`);

                const charName = selectedCharacter.value;
                const ocid = selectedCharacter.previousElementSibling.value;

                document.getElementById("charNameField").value = charName
                document.getElementById("ocidField").value = ocid

                console.log(document.getElementById("charNameField").value);
                console.log(document.getElementById("ocidField").value);
            }
        }
    </script>
</head>
<body>
<section>
    <select id="worldSelect" onchange="updateCharacterList()">
        <option value="all">All</option>
        <option th:each="key : ${worldKeys}" th:value="${key}" th:text="${key}"></option>
    </select>

    <div>
        <!-- Character Lists -->
        <div th:each="entry : ${characterMap}"
             th:attr="data-world=${entry.key}"
             class="character-list"
             style="display: block;">
            <h2>World: <span th:text="${entry.key}"></span></h2>
            <ul>
                <li th:each="character : ${entry.value}">
                    Image: <img th:src="${character.character_image}" th:alt="${character.character_name}">,
                    Name: <span th:text="${character.character_name}"></span>,
                    Class: <span th:text="${character.character_class}"></span>,
                    Level: <span th:text="${character.character_level}"></span>,
                    Guild: <span th:text="${character.character_guild_name}"></span>,
                    <input type="hidden" th:value="${character.ocid}">
                    <input type="radio" name="selected_char" th:value="${character.character_name}" onchange="setSelectedCharacter()">
                </li>
            </ul>
        </div>

        <form th:action="@{/select}" method="post" th:object="${chooseCharInfo}">
            <input type="hidden" id="charNameField" th:field="*{charName}" value="">
            <input type="hidden" id="ocidField" th:field="*{ocid}" value="">
            <button type="submit">선택</button>
        </form>
    </div>
</section>
</body>
</html>