<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::script},~{::section})}" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>로그인 페이지</title>
    <script>
        function updateCharacterList() {
            const selectedWorld = document.getElementById("worldSelect").value;
            const characterLists = document.querySelectorAll(".character-list");

            characterLists.forEach(list => {
                if (list.dataset.world === selectedWorld || selectedWorld === "all") {
                    list.style.display = "block";
                } else {
                    list.style.display = "none";
                }
            });
        }
    </script>
</head>
<body>
<section>
    <select id="worldSelect" onchange="updateCharacterList()">
        <option value="all">All</option>
        <option th:each="key : ${worldKeys}" th:value="${key}" th:text="${key}"></option>
    </select>

    <div>
        <!-- Character Lists -->
        <div th:each="entry : ${characterMap}"
             th:attr="data-world=${entry.key}"
             class="character-list"
             style="display: block;">
            <h2>World: <span th:text="${entry.key}"></span></h2>
            <ul>
                <li th:each="character : ${entry.value}">
                    Image: <img th:src="${character.character_image}" th:alt="${character.character_name}">,
                    Name: <span th:text="${character.character_name}"></span>,
                    Class: <span th:text="${character.character_class}"></span>,
                    Level: <span th:text="${character.character_level}"></span>,
                    Guild: <span th:text="${character.character_guild_name}"></span>,
                </li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>