<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout (~{::title}, ~{::section})}" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>로그인 페이지</title>
</head>
<body>
<section>
    <form th:action method="get">
        <div th:each="world : ${worldSet}" class="form-check form-check-inline">
            <input type="radio" th:id="|world - ${world}|" name="world" class="form-check-input"
                   th:checked="${#lists.isEmpty(worldSet) ? false : world == worldSet.iterator().next()}">
            <label th:for="|world - ${world}|" th:text="${world}" class="form-check-label">
            </label>
        </div>

        <button type="submit">접속</button>
    </form>
</section>
</body>
</html>